html {
  height: 100%;
}

body {
  margin: 0 10%;
  height: inherit;
  background: linear-gradient(
    0deg,
    rgba(238, 238, 238, 1) 0%,
    rgba(226, 250, 255, 1) 100%
  );
  font-size: 20px;
}

p {
  text-align: justify;
}

#logo {
  display: block;
  margin: 0 auto;
}

.curiosidade {
  background-image: url("imgs/favo-de-mel.png");
  border: 1px solid #fec629;
  border-radius: 10px;
  padding: 15px;
}

.curiosidade img {
  float: left;
  margin-right: 20px;
}
